@font-face {
	font-family: 'fontello';
	src: 
		url('../font/fontello.eot?26939108');
	src: 
		url('../font/fontello.eot?26939108#iefix') format('embedded-opentype'),
		url('../font/fontello.woff?26939108') format('woff'),
		url('../font/fontello.ttf?26939108') format('truetype'),
		url('../font/fontello.svg?26939108#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
.icon-cog:before { content: '\e800'; }
.icon-trash:before { content: '\e801'; }
.icon-paper-plane:before { content: '\e802'; }