// style.scss

/* Vars
======================================== */

	/* ==== Colors ==== */
		$color1: #1e88e5;
		$color2: #000;
		$color3: #fff;
		$color4: #e53935;
		$color5: #E1E7EB;

	/* ==== Backgrounds ==== */
		$bg: #f4f5f7;

	/* ==== Shadows ==== */
		$shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	/* ==== Fonts ==== */
	$font: 'Open Sans';

/* Body
======================================== */
	body {
		
		background: $bg;
	}

	* {
		font-family: $font, sans-serif;
	}

/* Containers
======================================== */
	.wrap {
		width: 500px;
		height: auto;
		margin: 0 auto;

		.box {
			width: 460px;
			height: 480px;
			background: $color3;
			text-align: center;
			border-radius: 6px;
			position: absolute;
			top: 50%; left: 50%;
			transform: translateX(-50%) translateY(-50%) scale(1.0, 1.0);
			box-shadow: 0 3px 3px rgba(0,0,0,0.15);
			transition: all 400ms;
			animation: moveDown 800ms forwards;

			&:hover {
				box-shadow: 0 15px 30px #ccc;
				transition: all 400ms;
			}

		}
	}

/* Helps
======================================== */
	.center {
		display: block !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.hide {
		display: none !important;
	}

	.show {
		display: block !important;
	}

/* Títulos
======================================== */
	.title {
		display: block;
		font-size: 55px;
		font-weight: 100;
		text-shadow: 0 0 1px #8E8E8E;
		margin: 10px 0;
	}

/* Formulários
======================================== */

	/* ==== Inputs ==== */
		input {
			border-bottom: 1px solid $color5;
			border-right: none;
			border-top: none;
			border-left: none;
			padding: 12px 3px;
			width: 100%;
			font-size: 17px;
			font-weight: 300;
			max-width: 340px;
			display: block;
			margin: 0 auto;

			&:focus, &:hover {
				border-bottom: 1px solid $color2;
				transition: 500ms all;
			}
		}

	/* ==== Selects ==== */
		select {
			border-bottom: 1px solid $color5;
			border-right: none;
			border-top: none;
			border-left: none;
			background: $color3;
			padding: 12px 10px;
			width: 100%;
			max-width: 340px;
			font-size: 16px;
			font-weight: 300;
			color: $color2;
			transition: 500ms all;

			// default arrow
			-webkit-appearance:none;
			-moz-appearance:none;

			text-indent: 0.01px;
			text-overflow: '';
			-webkit-appearance: button; /* hide default arrow in chrome OSX */

			display: inline-block;

			&:hover {
				transition: 500ms all;
				border-bottom: 1px solid $color2;
				border-right: none;
				border-top: none;
				border-left: none;
			}			
		}

		.select:after { /*  Custom dropdown arrow */
			content: "";
			position: relative;
			top: 6px; right: 30px;
			width: 20px;
			height: 20px;
			pointer-events: none;
			display: inline-block;
			background: url(../img/arrow.png);
			transform: rotate(-90deg);
			transition: all 400ms;
		}

		.select:hover:after {
			transform: rotate(0);
			transition: all 400ms;
		}

	/* ==== Labels ==== */
		.sub {
			display: block;
			width: 100%;
			max-width: 340px;
			margin: 10px auto 15px;
			font-size: 15px;
			text-transform: uppercase;
			text-align: left;
		}

	/* ==== Buttons ==== */
		button, .btn {
			border: none;
			cursor: pointer;
			background: transparent;

			&.round {
				border-radius: 50%;
			}

			&.blue {
				background: $color1;
				color: $color3;
			}

			&.red {
				background: $color4;
				color: $color3;
			}

			&.add {
				width: 95px;
				height: 95px;
				box-shadow: $shadow;
				transition: background 400ms;
				position: absolute;
				right: -40px;
				top: 25px;
				font-size: 60px;
				z-index: 999;

				&.active {
					background: black;
					transition: background 400ms;
					animation: rotate 500ms forwards;
				}
			}

			&.cadastrar {
				font-size: 22px;
				font-weight: 600;
				position: absolute;
				left: 18%; bottom: 25px;
				transition: all 600ms;
				text-transform: uppercase;
				height: 60px;
				width: 300px;
				background: $color3;
				border: 3px solid $color1;
				border-radius: 50px;
				color: $color1;

				&:hover {
					background: $color1;
					color: $color3;
					transition: all 600ms;
				}
			}

			&.atualizar, &.remover {
				width: 50px;
				height: 50px;
				font-size: 20px;
				
			}

			&.atualizar i {
				margin-left: -4px;
				line-height: 50px;
			}

			.sucesso {
				background: #4CC290;
			}
		}

	/* ==== Switchs (Toggle) ==== */
		.switch {
			max-width: 100px;
			position: relative;
			width: 100%;
			bottom: -10px;
			left: 60px;

			.toggle {
				position: absolute;
				margin-left: -9999px;
				visibility: hidden;

				& + label {
					display: block;
					position: relative;
					cursor: pointer;
					outline: none;
					user-select: none;

					padding: 2px;
					width: 100px;
					height: 50px;
					background-color: #dddddd;
					border-radius: 60px;

					&:before, &:after {
						display: block;
						position: absolute;
						top: 1px;
						left: 1px;
						bottom: 1px;
						content: "";
					}

					&:before {
						right: 1px;
						background-color: #f1f1f1;
						border-radius: 60px;
						transition: background 0.5s;
					}

					&:after {
						width: 48px;
						background-color: $color3;
						border-radius: 100%;
						box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
						transition: margin 0.4s;
					}
				}

				&:checked + label:before {
					background-color: #5BD069;
				}

				&:checked + label:after {
					margin-left: 50px;
				}
			}
		}

	/* ==== Tooltip ==== */
		.tooltip {
			opacity: 0;
			z-index: 99;
			display: block;
			width: 190px;
			color: $color3;
			padding: 10px;
			font-size: 14px;
			border-radius: 6px;
			text-align: center;
			text-shadow: 1px 1px 2px #111;
			background: rgba(51, 51, 51, .9);
			box-shadow: 0 0 3px rgba(0, 0, 0, .5);
			transition: all .2s ease-in-out;
			transform: scale(0);
			text-transform: uppercase;
			position: absolute;

			// classse pai + & (position)
			.switch & {
				right: -45px;
				bottom: 60px;
			}

			.remover & {
				right: -1px;
				bottom: 60px;
			}

			.atualizar & {
				right: -70px;
				bottom: 60px;
			}

			// mostrar tooltip (hover)
			.switch:hover &, 
			.remover:hover &, 
			.atualizar:hover & {
				opacity: 1;
				transform: scale(1);
			}
			
		}

/* Area -> Configurar
======================================== */
	.configurar {
		.title {
			margin-top: 20px;
		}

		.folder-new, .url-new {
			margin-top: 30px;
		}

		.lista {
			margin-top: 5px;
			margin-left: 22px;
		}

		.options {
			position: absolute;
			right: 60px;
			bottom: 29px;

			.remover {
				margin-right: 10px;
			}
		}
	}

/* Area -> Adicionar
======================================== */
	.adicionar {
		.title {
			margin-top: 20px;
		}

		input {
			margin-top: 40px;
		}
	}

/* Resultado
======================================== */
	.resultado {
		font-weight: 300;

		.msg {
			font-size: 30px;
			display: block;
			margin-top: 30px;
		}

		.nome {
			display: block;
			font-size: 20px;
			margin-top: 20px;
		}

		.site {
			display: block;
			margin-top: 20px;
			font-size: 40px;
			color: blue;
		}
	}

/* Outros
======================================== */

	/* ==== Fade ==== */
		input, button.cadastrar, select, .sub, .title {
			animation-name: show;
			animation-delay: 0;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
