*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Light.ttf") format("truetype"), url("../font/OpenSans-Regular.ttf") format("truetype"), url("../font/OpenSans-Semibold.ttf") format("truetype");
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button, a, select {
  outline: none;
}

html body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 100%;
}

/* scroll */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 100;
}

:-moz-placeholder {
  color: #ccc;
  font-weight: 100;
}

::-moz-placeholder {
  color: #ccc;
  font-weight: 100;
}

:-ms-input-placeholder {
  color: #ccc;
  font-weight: 100;
}
