@keyframes moveDown {
  0% {
    top: -30%;
  }
  100% {
    top: 50%;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
/* @keyframes expand {
	0% {
		trasnform: scale(1, 1);
	}
	100% {
		transform: scale(1.2, 1.2);
	}
} */
/* @keyframes addfirst {
	0% {

	}
	100% {
		transform: translateY(40px);

	}
}

@keyframes addsecond {
	0% {
		
	}
	100% {
		width: 240px;
		height: 240px;
	}
}

@keyframes addthird {
	0% {

	}
	100% {
		width: 380px;
		height: 380px;
		border-top-radius: 30px;
		border-top-right-radius: 30%;
		border-bottom-right-radius: 30%;
	}
} */
